/*tarayıcıya göre değişiklik göstermemesi için global ayarları sıfırlıyoruz*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh; /*Görünen ekranın tamamını kapsa demektir.*/
  background-color: #f0f4f3;
  color: white;
  font-family: "Amatic SC", cursive;
  font-family: "Hubballi", cursive;
  font-family: "Lobster Two", cursive;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*body'ye yükseklik vermeden buraya yükseklik veremeyiz. block elementlerin yüksekliği içerik kadardır.*/
.container {
  width: 75%;
  height: 85%;
  border-radius: 15px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.35);

  display: flex;
}

.left-side {
  flex-basis: 40%; /*bu parametre bulunduğu alanın 40 birimini kaplar CONTEYNIR İÇİNDEKİ TEK ELEMANA UYGULANIR.*/
  background-color: #3bb397;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.left-side-title {
  font-size: 40px;
}

.left-side-parafrag {
  text-align: center;
}

.button {
  background-color: #3bb397;
  padding: 10px 60px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.button:hover {
  background-color: blueviolet;
}

.right-side {
  flex-basis: 60%;
  background-color: blueviolet;
  border-radius: 0 15px 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-content {
  width: 90%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-side-content > h1 {
  color: #3bb397;
  font-size: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.link {
  border: 1px solid #ddd;

  height: 35px;
  width: 35px;
  border-radius: 50%;

  display: flex; /*yazıldığı elementi block seviyesi yapar*/
  justify-content: center;
  align-items: center;
}

.svg-link {
  width: 20px;
  height: 20px;
  fill: #3bb397;
}

.form {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-group {
  position: relative;
  /* padding: 1.2rem 0; */
}

/*svg iconları*/
.svg-form {
  height: 25px;
  width: 25px;
  fill: #8497a2; /*renk veriyoruz*/
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.input {
  width: 250px;
  background-color: antiquewhite;
  font-size: 15px;
  font-weight: 300px;
  padding: 14px 0;
  padding-left: 45px;
}

.input::placeholder {
  color: #8497a2;
}

.submit {
  width: 150px;
  padding: 10px 40px;
  background-color: #3bb397;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid white;
  color: white;
}

.submit:hover {
  opacity: 0.9;
}
